<h2>Welcome to Smart Ordering System</h2>

<ul>
    <li><a asp-controller="Order" asp-action="Index">View All Orders</a></li>
    <li><a asp-controller="Order" asp-action="Create">Create New Order</a></li>
    <li><a asp-controller="Order" asp-action="Details"> Order Details</a></li>
        <li><a asp-controller="Menu" asp-action="Create"> Create Menu Item</a></li>
    <li><a asp-controller="Menu" asp-action="Details"> Menu Details</a></li>
    <li><a asp-controller="Reports" asp-action="DailySummaryReport"> Reports</a></li>
    <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
    <li><a asp-controller="Auth" asp-action="Register">Register</a></li>
</ul>
